{% extends "main.html" %}

{% block hero %}

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tooplate-style.css">
    <style>
        body {
            padding-top: 0;
        }
        .md-main {
            display: none;
        }
        .md-tabs {
            display: none;
        }
        .about {
            padding-top: 3em;
            padding-bottom: 1em;
        }
    </style>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Добро пожаловать <span class="mobile-block">в мою библиотеку!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Будет полезно, для</span>
                                <div class="animated-info">
                                    <span class="animated-item">прогеров </span>
                                    <span class="animated-item">сисадминов</span>
                                    <span class="animated-item">сетевиков</span>
                                </div>
                        </h1>

                        <p>
                            Это моя библиотека знаний, отражение интересов и пространство для развития. Буду рад, если мои записи окажутся полезными и для вас!
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Hard Skills</h2>

                    <div class="timeline">


                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>N/A</span>
                             </div>
                             <div class="timeline-info">
                                <h3><span>Python</span><small>В разработке</small></h3>
                                <p>
                                    Изучив этот курс, ты научишься писать чистый и поддерживаемый код, использовать основные библиотеки Python и создавать приложения различной сложности.
                                    <br><a rel="nofollow" href="/modules/python/">Приступить</a>
                                </p>
                             </div>
                        </div>


                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>N/A</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Git</span><small>В разработке</small></h3>
                                <p>
                                    Курс поможет освоить основные команды Git, научиться работать с ветками, управлять версиями кода и эффективно вести командную разработку.
                                    <br><a rel="nofollow" href="/modules/git/">Приступить</a>
                                </p>
                            </div>
                        </div>
                        

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>48ч</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>DevOps<small>В разработке</small></h3>
                                <p>
                                    Пройдя обучение, ты сможешь выстраивать процессы поставки кода, писать пайплайны и координировать работу со смежными ролями и подразделениями.
                                    <br><a rel="nofollow" href="/modules/devops/">Приступить</a>
                                </p>
                            </div>
                        </div>


                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                 <span>N/A</span>
                            </div>
                            <div class="timeline-info">
                                 <h3><span>English</span><small>Запланировано</small></h3>
                                 <p>
                                   Курс разработан для повышения уровня твоего английского, чтобы свободно читать техническую документацию, писать письма и общаться с коллегами из других стран.
                                 </p>
                            </div>
                       </div>


                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Soft Skills</h2>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>N/A</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Основы процессов разработки<small>В разработке</small></h3>
                            <p>
                                Этот курс научит тебя лучше понимать процессы разработки, эффективно взаимодействовать с командой и достигать общих целей проекта.
                                <br><a rel="nofollow" href="/modules/dev/">Приступить</a>
                            </p>
                        </div>
                    </div>

                    <div class="timeline">

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>N/A</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Работа по Agile</span><small>Запланировано</small></h3>
                                <p>
                                    На курсе ты узнаешь, как работать по гибким методологиям, проводить спринты, организовывать встречи и эффективно управлять процессом разработки.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</html>
{% endblock %}